#start {
    color: white;
    font-size: 200%;
    border-style: solid;
    background-color: #ff6600;
    border-radius: 10px;
    margin-top: auto;
}

#back_to_start {
    color: white;
    font-size: 150%;
    border-style: solid;
    background-color: #ff6600;
    border-radius: 10px;
    margin-top: auto;
}

#question1 {
    color: white;
    font-size: 150%;
    bottom: 500px;
    text-shadow: black;
}