#start, #answer1, #answer2, #answer3, #answer4 {
    color: white;
    font-size: 200%;
    border-style: solid;
    background-color: darkorange;
    border-radius: 10px;
    margin-top: auto;
}

#back_to_start {
    color: white;
    font-size: 150%;
    border-style: solid;
    background-color: darkorange;
    border-radius: 10px;
    margin-top: auto;
}

#questionTitle {
    color: white;
    text-shadow: 10px 10px black;
    font-size: 200%;
    bottom: 500px;
    text-shadow: black;
}

#next {
    color: white;
    font-size: 150%;
    border-style: solid;
    background-color: darkorange;
    border-radius: 10px;
    margin-top: auto;
}

#main_page {
    background-image: "Course Project\JS Project materials\ERLogo4K.png";
}